@import "../lib/suit";
@import "../lib/baseline";

$linkColor: #f58231;
$hoverColor: #939393;

html {
    font-size: 87.5%;
    @media (min-width: 480px) {
        font-size: 100%;
    }
    @media (min-width: 960px) {
        font-size: 125%;
    }
}

body {
    font-family: Lato, sans-serif;
    @include baseline($base-font-size);

    &.s-debug {
        background-image: linear-gradient(#eee 1px, transparent 1px);
        background-size: 100% 22.4px;
    }
}

p {
    @include baseline($base-font-size, 0, 1, true);
}

a:link,
a:visited {
    color: $linkColor;
}

a:hover,
a:active {
    color: $hoverColor;
}

code {
    font-family: Consolas, Menlo, Monaco, Lucida Console, monospace;
}

@import "../lib/components/article";
@import "../lib/components/banner";
@import "../lib/components/column";
@import "../lib/components/footer";
@import "../lib/utilities";
