.Banner {
    font-family: Oswald, sans-serif;
    font-weight: bold;
    @include baseline(42px, 2, 6);

    @media (min-width: 768px) {
        @include baseline(42px, 4, 6, true);
    }

    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }
}

.Banner-logo {
    float: left;
    margin-right: .25em;
    width: auto;
    height: 1.25em;
    vertical-align: top;
}

.Banner-line {
    display: block;
    margin-right: -10px;
    font-family: Lato, sans-serif;
    font-weight: normal;
    @include baseline(12px, 0, 0);

    @media (min-width: 480px) {
        @include baseline(16px, 0, 0);
    }
}
