.Links {
    margin-bottom: -1px;
    border-bottom: 1px solid lightgray;
}

.Links-heading {
    @include baseline(18px, 6, 1);
}

.Links-item {
    position: relative;
}

.Links-link {
    display: block;
    margin-top: -1px;
    border-top: 1px solid lightgray;
    padding-top: .6875em;
    padding-bottom: .6875em;

    &[hreflang="de"]::after {
        content: ' [German]';
        color: $hover-color;
    }
}

.Links-icon {
    position: relative;
    margin-left: .25em;

    svg {
        position: absolute;
        width: .75em;
        height: .75em;
        top: 50%;
        margin-top: -.375em;
    }
}

.Links-meta {
    @include baseline(10px);

    position: absolute;
    top: 50%;
    right: 0;

    line-height: 1em;
    margin-top: -.5em;

    letter-spacing: .25em;
    text-transform: uppercase;

    a {
        padding: 2em 0;
        color: inherit;
        text-decoration: none;
    }

    a:hover,
    a:active {
        color: $hover-color;
    }

    a:after {
        content: ', ';
    }

    a:last-child:after {
        content: normal;
    }
}

@media (max-width: 640px) {
    .Links-meta {
        display: none;
    }
}
