---
layout: default
---

<div class="Introduction">
    <div class="Column">
        <h2 class="Introduction-bigText">Hi, I’m Manuel.</h2>
        <p class="Introduction-smallText">
            I make websites, games and digital art.<br>
            You are enjoying my personal blog.
        </p>
    </div>
</div>

<div class="Column" itemscope itemtype="https://schema.org/Blog">
    <meta itemprop="author" content="Manuel Wieser">
    <meta itemprop="genre" content="{{ site.description }}">
    {% for post in site.posts %}
        {% include listing.html %}
    {% endfor %}
</div>
