<footer class="Footer">
    <div class="Column">
        <hr>
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-size1of5">
                <img class="Footer-image u-sizeFull u-round" src="/images/manu.jpg" alt="Manuel Wieser">
            </div>
            <div class="Grid-cell u-size4of5">
                <p>I’m an experienced front-end developer and versatile digital artist. I’m into building websites and creating
                    content for real-time rendering, film and animation. I’m also a bearded hacker making games with
                    my friends.</p>
                <p>You can contact me on <a href="http://www.facebook.com/mmwieser">Facebook</a> or <a
                        href="http://twitter.com/manuelwieser">Twitter</a>, although I’m a lurker most of the time.
                    This blog is a means to changing that.</p>
            </div>
        </div>
        <hr>
        <p class="Footer-copyright">© {{ site.time | date: '%Y' }} Manuel Wieser</p>
    </div>
</footer>
