<footer class="Footer">
    <div class="Column">
        <hr>
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-size1of5">
                <img class="Footer-image u-sizeFull u-round" src="/images/manu.jpg" alt="Manuel Wieser">
            </div>
            <div class="Grid-cell u-size4of5">
                <p>I’m an experienced front-end developer and versatile digital artist. I’m into building websites and creating
                    content for real-time rendering, film and animation. I’m also a bearded hacker making games with
                    my friends.</p>
                <p>You can contact me via <a href="http://www.facebook.com/mmwieser">Facebook</a>, <a
                        href="http://twitter.com/manuelwieser">Twitter</a> or <a href="mailto:office@manuelwieser.com">office@manuelwieser.com</a>.</p>
                <p>I’m currently working as a full-stack web developer for
                    <a href="http://www.karriere.at">karriere.at</a>, but you can hire me as a freelancer for your web projects or as a consultant for your front-end architecture.</p>
            </div>
        </div>
        <hr>
        <p class="Footer-copyright"
            >© {{ site.time | date: '%Y' }} Manuel Wieser<br>
            <small><a href="{{ site.url }}">manu.ninja</a> is the personal blog of Manuel Wieser, where he talks about front-end development, games and digital art</small>
        </p>
    </div>
</footer>
