<article class="Article" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="Article-header u-textCenter">

        <p class="Article-category">
            {% for category in post.categories %}
                <a href="/{{ category }}">{{ site.data.categories[category] }}</a>
            {% endfor %}
        </p>

        {% if post.external %}
            <h1 class="Article-title" itemprop="headline">
                <a href="{{ post.external }}" target="_blank">{{ post.title }}</a>
            </h1>
        {% else %}
            <h1 class="Article-title" itemprop="headline">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h1>
        {% endif %}

        <p class="Article-date">
            <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                {{ page.date | date: '%b %-d, %Y' }}
            </time>
        </p>

    </div>
    <div class="Article-content">

        {% if post.thumbnail %}
            <div class="Grid Grid--withGutter">
                <div class="Grid-cell u-size4of5">
        {% endif %}

        {% if post.summary %}
            <p>{{ post.summary }}</p>
        {% else %}
            {{ post.excerpt }}
        {% endif %}

        <p class="Article-link">
            <a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}">
                Read more…
            </a>
        </p>

        {% if post.thumbnail %}
                </div>
                <div class="Grid-cell u-size1of5">
                    <a href="{{ post.url }}">
                        <img class="Article-thumbnail {% if post.round %}u-round{% endif %}" src="{{ post.thumbnail }}">
                        <meta itemprop="image" content="{{ post.thumbnail | prepend: site.url }}">
                    </a>
                </div>
            </div>
        {% endif %}

    </div>
</article>
