<div class="Links">
    <h3 class="Links-heading">You may also like…</h3>
    <ul>
        {% for post in site.posts %}
            {% if post.url != page.url %}
                <li class="Links-item">
                    <span class="Links-meta">
                        {% for category in post.categories %}
                            <a href="/{{ category }}">{{ site.data.categories[category] }}</a>
                        {% endfor %}
                    </span>
                    {% if post.external %}
                        <a class="Links-link u-truncated" href="{{ post.external }}" target="_blank">{{ post.title }}</a>
                    {% else %}
                        <a class="Links-link u-truncated" href="{{ post.url }}">{{ post.title }}</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<script>
    (function () {
        var links = Array.prototype.slice.call(document.querySelectorAll('.Links li'));
        while (links.length > 3) {
            var index = Math.floor(Math.random() * links.length);
            links[index].classList.add('u-hidden');
            links.splice(index, 1);
        }
    })();
</script>
