<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Manuel Wieser",
    "honorificSuffix": "BSc MA",
    "jobTitle": "Front-End Developer & Digital Artist",
    "worksFor": {
        "@type": "Organization",
        "name": "karriere.at"
    },
    "image": "{{ '/images/manu.jpg' | prepend: site.url }}",
    "email": "office@manuelwieser.com",
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "Austria",
        "addressLocality": "Linz"
    },
    "url": [
        "http://manu.ninja",
        "http://www.manuelwieser.com"
    ]
}
</script>
