---
layout: default
permalink: /coding/
---
{% for post in site.posts %}
    {% if post.categories contains 'coding' %}
        <article class="Article">
            <div class="Article-header u-textCenter">
                <p class="Article-category">
                    {% for category in post.categories %}
                        <a href="/{{ category }}">{{ site.data.categories[category] }}</a>
                    {% endfor %}
                </p>

                <h1 class="Article-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>

                <p class="Article-date">{{ post.date | date: '%b %-d, %Y' }}</p>
            </div>
            <div class="Article-content">
                {{ post.excerpt }}
            </div>
        </article>
    {% endif %}
{% endfor %}
