.Article-category {
    display: inline-block;
    margin-bottom: -1px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 1em;
    vertical-align: top;
    text-transform: uppercase;

    a:after {
        content: ',';
    }

    a:last-child:after {
        content: normal;
    }
}

.Article-title {
    @include baseline(32px, 1, 1);
    font-family: Oswald, sans-serif;

    img {
        margin-right: -.5em;
        width: .5em;
        height: .5em;
        display: inline-block;
        vertical-align: middle;
    }
}

.Article-category,
.Article-title {
    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover,
    a:active {
        color: $hover-color;
    }
}

.Article-category,
.Article-date {
    @include baseline(10px);
    letter-spacing: .25em;
}

.Article-content {
    @include baseline($base-font-size, 2, 6, true);

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    ol, ul {
        @include baseline(null, 0, 1, true);
    }

    img {
        display: block;
        max-width: 100%;
        max-height: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    img,
    pre {
        @include baseline($base-font-size, 2, 2, true);

    }

    h2 {
        @include baseline(24px, 2, 1);
    }

    h3 {
        @include baseline(18px, 2, 1);
    }
}

.Article-thumbnail {
    margin: 0 !important;
}

.Article-link {
    @include baseline(12px);
}
