.Panel {}

.Panel-heading {
    color: #fff;
    background: #f58231;
    padding: .5em;
}

h3.Panel-heading {
    margin-bottom: 0;
}

.Panel-body {
    padding: .5em;
    border: 1px solid #f58231;
}
