---
layout: default
---
<article class="Article" itemscope itemtype="http://schema.org/BlogPosting">

    {% if page.thumbnail %}
        <meta itemprop="image" content="{{ page.thumbnail | prepend: site.url }}">
    {% endif %}

    <div class="Article-header u-textCenter">
        <p class="Article-category">
            {% for category in page.categories %}
                <a href="/{{ category }}">{{ site.data.categories[category] }}</a>
            {% endfor %}
        </p>

        <h1 class="Article-title" itemprop="headline"><a href="{{ page.url }}">{{ page.title }}</a></h1>

        <p class="Article-date">
            <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                {{ page.date | date: '%b %-d, %Y' }}
            </time>
        </p>
    </div>
    <div class="Article-content">
        {{ content }}
    </div>
</article>
