---
layout: default
---

<div class="Column">

    <article class="Article" itemscope itemtype="http://schema.org/BlogPosting">

        {% if page.thumbnail %}
            <meta itemprop="image" content="{{ page.thumbnail | prepend: site.url }}">
        {% endif %}

        <div class="Article-header u-textCenter">
            <p class="Article-category">
                {% for category in page.categories %}
                    <a href="/{{ category }}">{{ site.data.categories[category] }}</a>
                {% endfor %}
            </p>

            <h1 class="Article-title" itemprop="headline"><a href="{{ page.url }}">{{ page.title }}</a></h1>

            <p class="Article-date">
                <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                    {{ page.date | date: '%b %-d, %Y' }}
                </time>
                {% capture time %}{{ page.content | number_of_words | divided_by: 240 }}{% endcapture %}
                {% if time != '0' %}
                    &middot; {{ time | pluralize: 'Minute', 'Minutes' }}
                    / {{ page.content | number_of_words  | thousands_separated }} Words
                {% else %}
                    &middot; ½ Minute
                    / {{ page.content | number_of_words }} Words
                {% endif %}
            </p>
        </div>

        <div class="Article-content">
            {{ content }}

            {% if page.sharing %}
                <p>
                    If you liked this article, please consider
                    <a href="https://twitter.com/intent/tweet?original_referer={{ page.url | prepend: site.url | url_escape }}&amp;text={{ page.title | url_escape }}&amp;tw_p=tweetbutton&amp;url={{ page.url | prepend: site.url | url_escape }}&amp;via=manuelwieser">sharing</a>
                    it with your followers.
                </p>
            {% endif %}

            {% if page.external %}
                <p class="Article-link">
                    <a href="{{ page.external }}">Read more…</a>
                </p>
            {% endif page.external %}
        </div>

        <script>
            var headings = document.querySelectorAll('.Article-content h2, .Article-content h3');
            [].forEach.call(headings, function (heading) {
                var anchor = document.createElement('a');
                anchor.setAttribute('href', '#' + heading.id);
                anchor.innerHTML = ' <svg viewBox="0 0 512 512"><path d="M459.7 233.4L369 324c-49.8 50-131 50-181 0-7.8-8-14-16.8-19.3-26l42-42c2-2 4.5-3.2 7-4.5 2.8 10 8 19.3 15.7 27 25 25 65.5 25 90.5 0l90.4-90.4c25-24.8 25-65.4 0-90.4s-65.6-25-90.5 0l-32.3 32.2c-26-10-54.3-13-81.7-9l68.6-68.4c50-50 131-50 181 0s50 131 0 181zM220.3 382.2L188 414.4c-24.8 25-65.4 25-90.4 0s-25-65.6 0-90.5l90.5-90.6c25-25 65.7-25 90.6 0 7.8 7.8 13 17.2 15.8 27 2.4-1.3 4.8-2.4 6.8-4.4l42-42c-5.3-9.2-11.5-18-19.3-26-50-50-131.2-50-181 0l-90.6 90.6c-50 50-50 131 0 181s131 50 181 0l68.6-68.5c-27.4 4-55.6 1.3-81.7-8.8z"/></svg> ';
                heading.appendChild(anchor);
            });
        </script>

        {% if jekyll.environment == 'production' %}

            <div id="disqus_thread"></div>

            <script>
                us_config = function () {
                    this.page.url = document.querySelector('link[rel="canonical"]').href;
                    this.page.identifier = '{{ page.slug }}';
                };
                (function () {
                    var d = document, s = d.createElement('script');
                    s.src = '//manuninja.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>

        {% endif %}

    </article>

</div>
