@import "suit";
@import "baseline";

$link-color: #f58231;
$hover-color: #939393;

html {
    font-size: 87.5%;
    @media (min-width: 480px) {
        font-size: 100%;
    }
    @media (min-width: 960px) {
        font-size: 125%;
    }
}

body {
    font-family: Lato, sans-serif;
    @include baseline($base-font-size);

    &.s-debug {
        background-image: linear-gradient(#eee 1px, transparent 1px);
        background-size: 100% 22.4px;
    }
}

p {
    @include baseline($base-font-size, 0, 1, true);
}

a:link,
a:visited {
    color: $link-color;
}

a:hover,
a:active {
    color: $hover-color;
}

hr {
    margin-top: -1px;
    border-top: 1px solid lightgray;
    border-right: none;
    border-bottom: none;
    border-left: none;
    @include baseline($base-font-size, 0, 2, true);
}

code {
    font-family: Consolas, Monaco, monospace;
}

@import "prism";
@import "components/article";
@import "components/banner";
@import "components/column";
@import "components/donation";
@import "components/footer";
@import "components/form";
@import "components/introduction";
@import "components/links";
@import "components/panel";
@import "components/taxonomy";
@import "utilities";
