<dl>
  {% for item in projects %}
    <dt>
      <a href="{{ item.url }}">{{ item.title }}</a>
      <small>{{ item.date.substring(0, 4) }}</small>
    </dt>
    <dd>
      <p>{{ item.description}}</p>
    </dd>
  {% endfor %}
</dl>
